/.venv
/AI001200805_denoised.wav
/batchrate.bak.praat
/output.csv
/output.xlsx
/Praat.drawio
/Praat.drawio.png
/praat_modification.zip
/requirements.txt
/Sample filled pause and long I.auto.TextGrid
/Sample_filled_pause_and_long_I.TextGrid
/Sample_filled_pause_and_long_I_auto_230226 After Edit copy 2.TextGrid
/Sample_filled_pause_and_long_I_auto_230226_After_Edit.TextGrid
/Sample_filled_pause_and_long_I_auto_230227_After_Edit_TextGridoutput.TextGrid
/Sample_filled_pause_and_long_I_auto_230227_After_Edit_TextGridoutput.TextGridoutput.TextGrid
/test.TextGrid
/tgfiles
/toexcel.bak.py
/wavfiles
/word2txtanalyze